@import "../../../assets/scss/variables";

/*.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //padding: 12px;
  padding: 30px 40px 30px 50px;
  color: $black;
  //background: $primary;
}

.navbar {
  color: $black;
  //background: $white;
}

.logo {
  background: $white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 53px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
  }
}

.menuToggle {
  display: block;
}

.menuToggle, .cart {
  font-size: 20px;
}

.navLinks {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 74px;
  left: 0;
  width: 100%;
  background-color: $white;
  transform: translateY(-100vh);
  transition: transform 0.3s ease;
  z-index: 1000;

  &.show {
    transform: translateY(0);
  }
}

.navLink {
  padding: 10px;
  transition: transform 0.2s ease;
  color: $black;

  &:hover {
    transform: translateY(-5px);
  }

  &.active {
    color: #ffa500;
  }
}

@media (min-width: 768px) {
  .menuToggle {
    display: none;
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: end;
    width: auto;
    top: 0;
    transform: none;
    background-color: transparent;
  }

  .logo {
    img {
      width: 100px;
      height: 100px;
    }
  }

}
